.navsb {
    background-color: cadetblue;
    margin: auto;
    padding: 0.25rem;
    width: 600px;
    
    .navsb ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        align-content: center;
        
        .navsb ul li {
            margin: auto;
            padding: 0 5px;
        }
    }
}

li {
    list-style-type: none;
    text-decoration: none;
}